@use 'variables' as *;

body {
    padding: 76px 0;
}

.recycling_disposal {
    padding: 43px 17px;

    &_header {
        margin-bottom: 35px;
    }

    &_title {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 2%;
        height: 63px;
        padding-top: 5px;
        max-width: 80%;
    }
}

.recycling_disposal_nav {
    display: flex;
    align-items: center;
    // overflow: hidden;

    ul {
        flex: 1;
        overflow-x: auto;
        scrollbar-width: none;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 49px;
        max-width: none;
        margin: 0;
        padding-left: 17px;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            position: relative;
            flex-shrink: 0;

            a {
                display: block;
                height: 40px;
                line-height: 37px;
            }

            &.is-active a:before {
                content: '';
                width: 67%;
                height: 1.5px;
                background-color: $primary-color;
                position: absolute;
                top: 33px;
                left: 0%;

            }
            // Only to fit the design, should just space-between the items
            &:nth-child(3) a {
                transform: translateX(14px);
            }
        }
    }

    &__arrow {
        width: 32px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &--next {
            justify-content: flex-end;
        }
    }
}

.recycling_disposal_content {
    gap: 10.5%;
    margin-top: 38px;
}

.recycling_disposal_parts {
    order: 2;
    // flex: 0 0 229px;

    .part {
        font-size: 12px;
        line-height: 24px;
        min-height: 177px;
        padding-bottom: 20px;
        margin-bottom: 21px;
        letter-spacing: 0.25px;

        &__title {
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 4.3%;
            height: 34px;
        }

        strong, em {
            letter-spacing: 0.30px;
        }

        em {
            line-height: 17px;
            letter-spacing: 0.23px;
        }

        strong {
            font-weight: 600;
            margin-bottom: 2px;
        }
    }
}

.recycling_disposal_visual {
    order: 1;
    flex: 0 0 76.5px;
}

.visual__bottle {
    &:first-child {
        padding-top: 7px;   
        margin-bottom: 30px;
    }
     .callout {
        width: $callout-size-mobile;
        height: $callout-size-mobile;
        font-size: 10px;
     }
}