@use 'variables' as *;

.mobile-only { display: none; }

body {
    padding: 121px 0;
}

.recycling_disposal {
    padding: 48px 61px 10px;

    &_header {
        text-align: center;
        margin-bottom: 28.5px;
    }

    &_title {
        font-size: 29px;
        line-height: 44px;
        letter-spacing: 0%;
        height: 68px;
        text-align: center;
        padding-top: 7px;
    }
}

.recycling_disposal_nav {
    ul {
        justify-content: space-between;
        max-width: 790px;

        li {
            &.is-active a:before {
                top: 26px;
                left: 0;
            }

            // Only to fit the design, should just space-between the items
            &:nth-child(2) a {
                transform: translateX(0.5px);
            }
            &:nth-child(3) a {
                transform: translateX(5.5px);
            }
            &:nth-child(4) a {
                transform: translateX(-2px);
            }
            &:nth-child(5) a {
                transform: translateX(6px);
            }
            &:nth-child(6) a {
                transform: translateX(3px);
            }
            &:nth-child(7) a {
                transform: translateX(-8px);
            }
        }
    }

    &__arrow {
        display: none;
    }
}

.recycling_disposal_content {
    gap: 6.5%;
    margin-top: 89px;
}

.recycling_disposal_parts {
    flex: 0 0 46%;

    .part {
        padding: 0px 25px 33px 0;
        margin-bottom: 26px;

        &__title {
            height: 51px;
        }
    }
}

.recycling_disposal_visual {
    flex: 1;
    min-width: 0;
    display: flex;
    gap: 12.34%;
    align-items: end;
}

.visual__bottle {
    flex: 0 0 50%;

     .callout {
        width: $callout-size;
        height: $callout-size;
        font-size: 21px;
     }

    .callout-1 { bottom: 86%;   left: 5%; }
    .callout-2 { bottom: 56%;  left: 0.5%; transform: translateX(-50%); }
    .callout-3 { bottom: 93%;   right: 0%; transform: translateX(35%); }
}